@import "../../../../styles/variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;

  background: $color-white;
  opacity: 0.9;
  backdrop-filter: blur(10px);

  width: 100vw;
  height: 100vh;
}

.add_element_modal,
.add_asset_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50vw;
  height: fit-content;

  background: $color-white;
  box-shadow: $box-shadow;
  border-radius: 1rem;
  z-index: 99;

  .head {
    font-size: 1.2rem;
    font-weight: bold;
    width: fit-content;
    padding: 0.5rem;
    margin-inline: auto;
    color: $color-black;
  }

  .elements {
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;

    .element_card {
      width: 7rem;
      height: 7rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      box-shadow: $box-shadow;
      border-radius: 0.2rem;
      cursor: pointer;

      color: $color-black;

      svg {
        width: 80%;
        path {
          fill: $color-black;
        }
      }
    }
  }
}
