@import "../../../../styles/variables";

.editor__elements {
  width: 90%;
  margin-inline: auto;
  overflow-y: auto;
  flex: 2;

  .element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    color: $color-black;

    .left {
      display: flex;
      align-items: center;
      gap: 0.7rem;
      svg {
        width: 15%;
      }
    }

    .right {
      display: flex;
      align-items: center;
      svg {
        width: 75%;
      }
    }

    &.element--selected {
      color: $color-white;
      background: $color-primary;
      .right {
        svg {
          path {
            fill: $color-white;
          }
        }
      }
    }
  }
}
