.editor__elements {
  width: 90%;
  margin-inline: auto;
  overflow-y: auto;
  flex: 2;

  .add_element {
    width: 100%;
    padding: 0.5rem 0.8rem;
    font-size: 1.1rem;
    background: transparent;
    border: 2px solid #019aff;
    border-radius: 0.5rem;
    color: #019aff;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    color: black;

    .left {
      display: flex;
      align-items: center;
      gap: 0.7rem;
      svg {
        width: 15%;
      }
    }

    .right {
      display: flex;
      align-items: center;
      svg {
        width: 75%;
      }
    }

    &.element--selected {
      color: white;
      background: #019aff;
      .right {
        svg {
          path {
            fill: white;
          }
        }
      }
    }
  }
}
