@import "../../../styles/variables";

.alignments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1rem;
  margin-block: 1rem;

  .item {
    cursor: pointer;
    svg {
      path {
        fill: $color-black-500;
      }
    }
  }
}
